<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>KKMusic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>歌单列表查询</description>
    <servlet-name>SearchSongsServlet</servlet-name>
    <servlet-class>cn.com.zx221.javaweb.servlet.SearchSongsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSongsServlet</servlet-name>
    <url-pattern>/searchSongsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>是第一个demo问候的SErvlet</description>
    <servlet-name>SingerServlet</servlet-name>
    <servlet-class>cn.com.zx221.javaweb.servlet.SingerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerServlet</servlet-name>
    <url-pattern>/singerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CdShowServlet</servlet-name>
    <servlet-class>cn.com.zx221.javaweb.servlet.CdShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CdShowServlet</servlet-name>
    <url-pattern>/cdShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>cn.com.zx221.javaweb.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>

    <display-name>SingerDetailServlet</display-name>
    <servlet-name>SingerDetailServlet</servlet-name>
    <servlet-class>cn.com.zx221.javaweb.servlet.SingerDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingerDetailServlet</servlet-name>
    <url-pattern>/singerDetailServlet</url-pattern>
</servlet-mapping>
<servlet>
    <display-name>CdSongDetailServlet</display-name>
    <servlet-name>CdSongDetailServlet</servlet-name>
    <servlet-class>cn.com.zx221.javaweb.servlet.CdSongDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CdSongDetailServlet</servlet-name>
    <url-pattern>/cdSongDetailServlet</url-pattern>
  </servlet-mapping>
</web-app>